.title
{
	background-color:#1ac6ff;
	color:#fff;
	margin-left:50px;
	margin-right:50px;
	height:140px;
	line-height:140px;
}
.dashboard1
{
	background-color:#00ff99;
	color:#000;
	margin-left:50px;
	margin-right:50px;
	height:140px;
	font-size:25px;
}